<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include("partials/errors.ejs") %>
    <h1><%= title %></h1>
    
    <form action="/search" method="GET">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName" value="<%= locals.search || '' %>">    
        <button type="submit">Search</button>
    </form>

    <% if (locals.search !== undefined) { %>
        <h1>Search Results for: "<%= search %>"</h1>
        
        <% if (users && users.length > 0) { %>
            <ul>
                <% users.forEach(user => { %>
                    <li>ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %> Email: <%= user.email %> Age: <%= user.age %> Bio: <%= user.bio %></li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No users found matching that name.</p>
        <% } %>
    <% } %>

    <a href="/">Back to home</a>
</body>
</html>